.coverage
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.egg
*.whl
*.log
*.sqlite3
*.db
*.DS_Store
*.coverage
*.coverage.*
*.mypy_cache/
*.pytest_cache/
*.hypothesis/
*.tox/
*.vscode/
*.idea/
*.ipynb_checkpoints/
*.env
.ruff_cache/
*.coverage.xml